@page
@model CalenderModel
@{
	ViewData["Title"] = "Kalender";
}
<link href="~/css/ourdefeault.css" rel="stylesheet" asp-append-version="true" />
<h1>@ViewData["Title"]</h1>
<div class="align-content-center">
    <h1 class="display-1">Kalender for @Model.Teacher.FirstName @Model.Teacher.LastName</h1>
</div>

<table class="table">
    <tr>
        <th>Mandag</th>
        <th>Tirsdag</th>
        <th>Onsdag</th>
        <th>Torsdag</th>
        <th>Fredag</th>
        <th>Lørdag</th>
        <th>Søndag</th>
    </tr>
    <tr>
        <td>
            bib
        </td>
        <td>
            bob
        </td>
        <td>
            bub
        </td>
        <td>
            slub
        </td>
        <td>
            dub
        </td>
        <td>
            kalup
        </td>
        <td>
            slalup
        </td>
    </tr>
</tabl>