@page
@model EditRelationsModel
@{
    ViewData["Title"] = "Transport";
}
<link rel="stylesheet" href="~/css/OurDefeault.css" asp-append-version="true" />
<h1>@ViewData["Title"]</h1>
@if (Model.Edit == false)
{
    <div class="card">
        <div>
            <form method="post" asp-page-handler="Edit">
                <input type="hidden" name="Ids" asp-for="Ids" value="@Model.TheRelation.InstitutionIDs" />
                <input type="hidden" name="Edit" asp-for="Edit" value="true" />
                <input type="submit" value="Edit" />
            </form>
        </div>
    </div>
}
else if (Model.Edit == true)
{
    <div class="card">
        <form method="post" asp-page-handler="Save">
            <p> <b> Cost:</b> <br /><input type="number" asp-for="Cost" name="Cost" value="@Model.TheRelation.Cost" /></p>
            <p> <b> Time:</b> <br /><input type="number" asp-for="TimeNumber" name="TimeNumber" value="@Model.TheRelation.Time.Hours" /></p>
        </form>
    </div>

}