namespace Zealand_LoMaS_Web.wwwroot.css 
{
    public class OurDefeault
        {
        }
}


.card{
    margin-bottom: 5%;
    border-color: gray;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 2%;
    background-color: lightgray;
}

.stat {
    text-align: left;
    width: 30%;
    border: solid;
    border-color: gray;
    padding: 1%;
    margin-top:1%;
    background-color:white;
    border-radius: 1em;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2)
}

.modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 1%;
    outline: 0;
    width: 600px;
}

.modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /*    background-color: rgb(0, 0, 0);*/
    background-color: rgba(0, 0, 0, 0.4);
}

.display-topright {
    position: absolute;
    right: 1%;
    top: 2%;
}

.btn {
    border-color: gray;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    text-align:center;
}
.no-border {
    border: none;
    background-color: rgba(0,0,0,0);
    padding: .375rem .75rem;
}
.padding-none{
    padding:0%;
}